@model Group_I_M32COM.DbTableModel.Boat

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Create</h2>

<h4>Boat</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Boat_name" class="control-label"></label>
                <input asp-for="Boat_name" class="form-control" />
                <span asp-validation-for="Boat_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boat_top_speed" class="control-label"></label>
                <input asp-for="Boat_top_speed" class="form-control" />
                <span asp-validation-for="Boat_top_speed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boat_weight" class="control-label"></label>
                <input asp-for="Boat_weight" class="form-control" />
                <span asp-validation-for="Boat_weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sub_Boat_Types" class="control-label"></label>
                <select class="form-control" asp-for="Sub_Boat_Types">
                    @foreach (var type in ViewBag.Sub_Boat_Category_type as IEnumerable<SelectListItem>)
                    {
                        <option value="@type.Value">@type.Text</option>
                    }
                </select>
                <span asp-validation-for="Sub_Boat_Types" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boat_description" class="control-label"></label>
                <textarea asp-for="Boat_description" class="form-control" rows="6"></textarea>
                <span asp-validation-for="Boat_description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boat_media_type" class="control-label"></label>
                <select class="form-control" asp-for="Boat_media_type" onChange="myNewFunction(this);">
                    @foreach (var type in ViewBag.Mediatype as IEnumerable<SelectListItem>)
                    {
                        <option value="@type.Value">@type.Text</option>
                    }
                </select>
                <span asp-validation-for="Boat_media_type" class="text-danger"></span>
            </div>
            <div id="filediv" class="form-group" style="visibility: collapse;">
                <label for="exampleFormControlFile1" class="control-label">Boat Media</label>
                <input type="file" class="form-control-file" id="Selected_files" name="Selected_files" asp-for="Boat_Medias" multiple />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}