@model Group_I_M32COM.Models.User_RoleModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Create</h2>

<h4>User_RoleModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Role_Name" class="control-label"></label>
                <select class="form-control" asp-for="Role_Name">
                    @foreach (var type in ViewBag.Roles as IEnumerable<SelectListItem>)
                    {
                        if (type.Selected == true)
                        {
                            <option selected value="@type.Value">@type.Text</option>
                        }
                        else
                        {
                            <option value="@type.Value">@type.Text</option>
                        }
                    }
                </select>
                <span asp-validation-for="Role_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="First_Name" class="control-label"></label>
                <input asp-for="First_Name" class="form-control" />
                <span asp-validation-for="First_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Last_Name" class="control-label"></label>
                <input asp-for="Last_Name" class="form-control" />
                <span asp-validation-for="Last_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AdminIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
