@model Group_I_M32COM.DbTableModel.Boat_crew

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Create</h2>

<h4>Boat_crew</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Boat_crew_name" class="control-label"></label>
                <input asp-for="Boat_crew_name" class="form-control" />
                <span asp-validation-for="Boat_crew_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boat_crew_address" class="control-label"></label>
                <input asp-for="Boat_crew_address" class="form-control" />
                <span asp-validation-for="Boat_crew_address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boat_crew_phone" class="control-label"></label>
                <input asp-for="Boat_crew_phone" class="form-control" />
                <span asp-validation-for="Boat_crew_phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boat_crew_logo" class="control-label"></label>
                <input type="file" class="form-control-file" id="Selected_files" name="Selected_files" asp-for="Boat_crew_logo" />
                <span asp-validation-for="Boat_crew_logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Boat_crew_allocation" class="control-label"></label>
                <input asp-for="Boat_crew_allocation" class="form-control" />
                <span asp-validation-for="Boat_crew_allocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
