@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h4>About our team</h4>

<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:400,500,600,700" rel="stylesheet">
</head>

<p>We are team of 5 people.</p>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 image-grid-item">
            <div style="background-image: url(../images/sailboats-1375064_1920.jpg);" class="image-grid-cover">
                <a href="#" class="image-grid-clickbox"></a>
                <a href="#" class="cover-wrapper">Gabriel</a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 image-grid-item">
            <div style="background-image: url(../images/sailboats-1375064_1920.jpg);" class="entry-cover image-grid-cover has-image">
                <a href="#" class="image-grid-clickbox"></a>
                <a href="#" class="cover-wrapper">Umair</a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 image-grid-item">
            <div style="background-image: url(../images/sailboats-1375064_1920.jpg);" class="entry-cover image-grid-cover has-image">
                <a href="#" class="image-grid-clickbox"></a>
                <a href="#" class="cover-wrapper">Yamini</a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 image-grid-item">
            <div style="background-image:url(../images/sailboats-1375064_1920.jpg) ;" class="entry-cover image-grid-cover has-image">
                <a href="#" class="image-grid-clickbox"></a>
                <a href="#" class="cover-wrapper">Nathan</a>
            </div>

        </div>
        <div class="col-12 col-sm-6 col-md-4 image-grid-item">
            <div style="background-image: url(../images/sailboats-1375064_1920.jpg);" class="entry-cover image-grid-cover has-image">
                <a href="#" class="image-grid-clickbox"></a>
                <a href="#" class="cover-wrapper">Mike</a>
            </div>
        </div>
    </div>
</div>