<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:400,500,600,700" rel="stylesheet">
</head>

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-xs-12">
        <h2>Group_I_M32COM Remote Boat Racing</h2>
        <p class="</p>
        <p class="lead">
            This boat racing completion website is developed by
            <h5>
                Gabriel Odero,
                Umair Zia,
                Yamini Rathi,
                Michalis Sofroni,
                Natha zanga.
            </h5>
            We have tried to add all the functionalities in the project. Sample boat class categories with sub categories include:
        </p>

    </div>

    <div class="col-xs-12">
        <h2>Power</h2>
        <ul>
            <li>Fuel</li>
            <li>Nitro</li>
            <li>Electric</li>
        </ul>
    </div>

    <div class="col-xs-12">
        <h2>Hull type</h2>
        <ul>
            <li>Mono</li>
            <li>Hydro - high speed racing</li>
            <li>Tunnel</li>
            <li>Catamaran</li>
        </ul>
    </div>

    <div class="col-xs-12">
        <h2>Rigger</h2>
        <ul>
            <li>Size</li>
        </ul>
    </div>

</div>

<div class="row">
    <p>Most of our members are active members of their local boat team clubs. We encourage membership of a boat team club.</p>
</div>