<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
</head>

<h4>About our team and club officials</h4>
<p>We are team of 5 people.</p>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 image-grid-item">
            <div style="background-image: url(../images/sailboats-1375064_1920.jpg);" class="image-grid-cover">
                <a href="#" class="image-grid-clickbox"></a>
                <a href="#" class="cover-wrapper">Gabriel</a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 image-grid-item">
            <div style="background-image: url(../images/sailboats-1375064_1920.jpg);" class="entry-cover image-grid-cover has-image">
                <a href="#" class="image-grid-clickbox"></a>
                <a href="#" class="cover-wrapper">Umair</a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 image-grid-item">
            <div style="background-image: url(../images/sailboats-1375064_1920.jpg);" class="entry-cover image-grid-cover has-image">
                <a href="#" class="image-grid-clickbox"></a>
                <a href="#" class="cover-wrapper">Yamini</a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 image-grid-item">
            <div style="background-image:url(../images/sailboats-1375064_1920.jpg) ;" class="entry-cover image-grid-cover has-image">
                <a href="#" class="image-grid-clickbox"></a>
                <a href="#" class="cover-wrapper">Nathan</a>
            </div>

        </div>
        <div class="col-12 col-sm-6 col-md-4 image-grid-item">
            <div style="background-image: url(../images/sailboats-1375064_1920.jpg);" class="entry-cover image-grid-cover has-image">
                <a href="#" class="image-grid-clickbox"></a>
                <a href="#" class="cover-wrapper">Mike</a>
            </div>
        </div>
    </div>
</div>

<section id="contact">
    <div class="container">
        <h3 class="text-center text-uppercase">contact us</h3>
        <p class="text-center w-75 m-auto">contact us for more information and boat racing events </p>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
                        <h4 class="text-uppercase mb-5">call us</h4>
                        <p>+8801683615582,+8801750603409</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                        <h4 class="text-uppercase mb-5">office loaction</h4>
                        <address>M32COM Coventry University </address>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 my-5">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
                        <h4 class="text-uppercase mb-5">email</h4>
                        <p>http://  M32COM@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
