@model IEnumerable<Group_I_M32COM.DbTableModel.Event>

@{
    ViewData["Title"] = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">List of Upcoming events from today and future events</h1>

<div class="container">
    <div class="row">

        <!--Event items-->
        @foreach (var item in Model)
        {
            <!--To display the list of upcoming events that are greater than today-->
            var event_date = item.Event_Start_date.Value.Date.ToString("yyyy-MM-dd");
            var current_date = DateTime.Now.ToString("yyyy-MM-dd");
            if (DateTime.Parse(event_date) > DateTime.Parse(current_date))
            {
                <div class="col-lg-4">
                    <div class="our-team-main">

                        <div class="team-front">
                            <img src="http://placehold.it/110x110/9c27b0/fff?text=@Html.DisplayFor(model => item.Event_name)" class="img-fluid" />
                            <h3>@Html.DisplayFor(model => item.Event_name)</h3>
                            <p>@Html.DisplayFor(model => item.Event_Start_date) - @Html.DisplayFor(model => item.Event_End_date)</p>
                        </div>

                        <div class="team-back">
                            <span>
                                @Html.DisplayFor(model => item.Event_description)
                            </span>
                        </div>

                    </div>
                </div>
                <!--Events items-->
            }
        }
    </div>
</div>
