@model Group_I_M32COM.DbTableModel.Boat_crew_leader

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>Create</h2>

<h4>Boat_crew_leader</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User_Id" class="control-label"></label>
                <select class="form-control" asp-for="User_Id">
                    @foreach (var type in ViewBag.User as IEnumerable<SelectListItem>)
                    {
                        <option value="@type.Value">@type.Text</option>
                    }
                </select>
                <span asp-validation-for="User_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="boat_Crew" class="control-label"></label>
                <select class="form-control" asp-for="boat_Crew">
                    @foreach (var type in ViewBag.BoatCrew as IEnumerable<SelectListItem>)
                    {
                        <option value="@type.Value">@type.Text</option>
                    }
                </select>
                <span asp-validation-for="boat_Crew" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
